<html>
		<head>
			<title>{{ company.name }}</title>
			<style type="text/css">
				body {
					margin:50px 0px; padding:0px;
					text-align:center;
					}
	
				#Content {
					width:350px;
					margin:0px auto;
					text-align:left;
					padding:15px;
					border:1px dashed #333;
					background-color:#eee;
					}
				#Content1 {
					text-align:center;
					}
			</style>
		</head>
	<body>
		<h1>Company: {{ company.name }}</h1>

		<div id="Content">
			<p>Fundation date: {{ company.fundation_date }}</p>
			<p>Country: {{ company.country }}</p>
			<p>State or Province: {{ company.stateOrProvince }}</p>
			<p>Games: </p>
				{% if games %}
				<ul>
				{% for game in games.all %}
				<li>
				<A HREF="/games/{{game.name}}">{{game.name}}</A>
				</li>
				{% endfor %}
				</ul>
				{% else %}
				<p>Doesn't exist games.</p>
				{% endif %}
			<p>Developers: </p>
				{% if developers %}
				<ul>
				{% for developer in developers %}
				<li>
				<A HREF="/developers/{{developer.username}}">{{developer.username}}</A>
				</li>
				{% endfor %}
				</ul>
				{% else %}
				<p>Doesn't exist developers.</p>
				{% endif %}
			<p>Developes in these platforms: </p>
				{% if platforms %}
				<ul>
				{% for platform in platforms %}
				<li>
				<A HREF="/platforms/{{platform.name}}">{{platform.name}}</A>
				</li>
				{% endfor %}
				</ul>
				{% else %}
				<p>Doesn't exist platforms.</p>
				{% endif %}

			{% if owner %}
			<br>
			<form id="Content1">
			<input Type="BUTTON" VALUE="Edit company" ONCLICK="window.location.href='/companies/{{ company.name }}/edit'">
			<input Type="BUTTON" VALUE="Delete company" ONCLICK="window.location.href='/companies/{{ company.name }}/delete'">
			</form>
			{% endif %}
		</div>

		<br><br>
		<form>
		<input Type="BUTTON" VALUE="Home" ONCLICK="window.location.href='/'">
		<input Type="BUTTON" VALUE="Log out" ONCLICK="window.location.href='/logout'">
		</form>
	</body>
</html>
