<html>
		<head>
		<title>{{ company.name }}</title>
		</head>
	<body>
		<h1>Company: {{ company.name }}</h1>
		<p>Fundation date: {{ company.fundation_date }}</p>
		<p>Games: </p>
			{% if games %}
			<ul>
			{% for game in games.all %}
			<li>
			<A HREF="http://localhost:8000/games/{{game.name}}">{{game.name}}</A>
			</li>
			{% endfor %}
			</ul>
			{% else %}
			<p>Doesn't exist games.</p>
			{% endif %}
		<p>Developers: </p>
			{% if developers %}
			<ul>
			{% for developer in developers %}
			<li>
			<A HREF="http://localhost:8000/users/{{developer.username}}">{{developer.username}}</A>
			</li>
			{% endfor %}
			</ul>
			{% else %}
			<p>Doesn't exist developers.</p>
			{% endif %}
		<p>Developes in these platforms: </p>
			{% if platforms %}
			<ul>
			{% for platform in platforms %}
			<li>
			<A HREF="http://localhost:8000/platforms/{{platform.name}}">{{platform.name}}</A>
			</li>
			{% endfor %}
			</ul>
			{% else %}
			<p>Doesn't exist platforms.</p>
			{% endif %}
	</body>
</html>
