<html>
		<head>
		<title>{{ game.name }}</title>
		</head>
	<body>
		<h1>Game: {{ game.name }}</h1>
		<p>Release date: {{ game.release_date }}</p>
		<p>Price: {{ game.price }}</p>
		<p>Description: {{ game.description }}</p>
		<p>Company: <A HREF="http://localhost:8000/company/{{game.company}}">{{game.company}}</A></p>
		<p>Developers: </p>
			{% if game.developers %}
			<ul>
			{% for developer in game.developers.all %}
			<li>
			<A HREF="http://localhost:8000/user/{{developer.username}}">{{developer.username}}</A>
			</li>
			{% endfor %}
			</ul>
			{% endif %}
		<p>Platforms: </p>
			{% if game.platforms %}
			<ul>
			{% for platform in game.platforms.all %}
			<li>
			<A HREF="http://localhost:8000/platform/{{platform.name}}">{{platform.name}}</A>
			</li>
			{% endfor %}
			</ul>
			{% endif %}

	</body>
</html>
