<html>
	<head>
		{% load staticfiles %}
		<title>{{ title}}</title>
		<style type="text/css">
		body {
			margin:50px 0px; padding:0px;
			text-align:center;
			}
	
		#Content {
			width:350px;
			margin:0px auto;
			text-align:left;
			padding:15px;
			border:1px dashed #333;
			background-color:#eee;
			}
		</style>
	</head>
	<body>
		<h1>All the {{ title }}:</h1>
		
		<div id="Content">
			{% if vars %}

			<table style="width:300px">
			{% for var in vars %}
			{% if var.name %}
			<tr>
			<td> <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• <A HREF="/{{link}}/{{var.name}}"> {{var.name}}</A> </p></td>
			{% if staff %}
			<td> <a href="/{{link}}/{{var.name}}/edit"><img src="{% static "edit.png" %}"width="20" height="20"></a> </td>
			<td> <a href="/{{link}}/{{var.name}}/delete"><img src="{% static "delete.png" %}"width="20" height="20"></a> </td>
			{% endif %}
			</tr>

			{% else %}
			
			<tr>
			<td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• <A HREF="/{{link}}/{{var.username}}">{{var.username}}</A></p></td>
			</tr>
			
			{% endif %}
			{% endfor %}
			</table>
			
			{% else %}
			<p>Doesn't exist {{ title}}.</p>
			{% endif %}
		</div>

		<br><br>
		<form>
		<input Type="BUTTON" VALUE="Home" ONCLICK="window.location.href='/'">
		<input Type="BUTTON" VALUE="Log out" ONCLICK="window.location.href='/logout'">
		</form>
	</body>
</html>
