<html>
	<head>
		<title>{{ titlehead}}</title>
	</head>
	<body>
		<h1>{{ pagetitle }}</h1>
		<p>{{ contentbody }}</p>

	{% if user.username %}
	<p>Welcome {{ user.username }}!
	Here you will be able to manage your application.</p>

	<form>
	<input Type="BUTTON" VALUE="Profile" ONCLICK="window.location.href='/developers/{{user.username}}'">
	</form>

	<form>
	<input Type="BUTTON" VALUE="Developers" ONCLICK="window.location.href='/developers'">
	<input Type="BUTTON" VALUE="Games" ONCLICK="window.location.href='/games'">
	<input Type="BUTTON" VALUE="Companies" ONCLICK="window.location.href='/companies'">
	<input Type="BUTTON" VALUE="Platforms" ONCLICK="window.location.href='/platforms'">
	</form>

	<form>
	<input Type="BUTTON" VALUE="Log Out" ONCLICK="window.location.href='/logout'">
	</form>
	{% else %}
	<p>Welcome anonymus,
	you must <a href="/login/">Sign in</a>
	in order to manage the application.</p>
	{% endif %}

	</body>
</html>
