<html>
		<head>
			<title>{{ platform.name }}</title>
			<style type="text/css">
				body {
					margin:50px 0px; padding:0px;
					text-align:center;
					}
	
				#Content {
					width:350px;
					margin:0px auto;
					text-align:left;
					padding:15px;
					border:1px dashed #333;
					background-color:#eee;
					}
				#Content1 {
					text-align:center;
					}
			</style>
		</head>
	<body>
		<h1>Platform: {{ platform.name }}</h1>
		<div id="Content">
			<p>Games: </p>
				{% if games %}
				<ul>
				{% for game in games.all %}
				<li>
				<A HREF="/games/{{game.name}}">{{game.name}}</A>
				</li>
				{% endfor %}
				</ul>
				{% else %}
				<p>Doesn't exist games.</p>
				{% endif %}
			<p>Developers: </p>
				{% if developers %}
				<ul>
				{% for developer in developers %}
				<li>
				<A HREF="/developers/{{developer.username}}">{{developer.username}}</A>
				</li>
				{% endfor %}
				</ul>
				{% else %}
				<p>Doesn't exist developers.</p>
				{% endif %}
			<p>Companies that work with it: </p>
				{% if companies %}
				<ul>
				{% for company in companies %}
				<li>
				<A HREF="/companies/{{company.name}}">{{company.name}}</A>
				</li>
				{% endfor %}
				</ul>
				{% else %}
				<p>Doesn't exist companies.</p>
				{% endif %}

			{% if owner %}
			<br>
			<form id="Content1">
			<input Type="BUTTON" VALUE="Edit platform" ONCLICK="window.location.href='/platforms/{{ platform.name }}/edit'">
			<input Type="BUTTON" VALUE="Delete platform" ONCLICK="window.location.href='/platforms/{{ platform.name }}/delete'">
			</form>
			{% endif %}
		</div>
		
		<br><br>
		<form>
		<input Type="BUTTON" VALUE="Home" ONCLICK="window.location.href='/'">
		<input Type="BUTTON" VALUE="Log out" ONCLICK="window.location.href='/logout'">
		</form>
	</body>
</html>
