<html>
		<head>
		<title>{{ platform.name }}</title>
		</head>
	<body>
		<h1>Platform: {{ platform.name }}</h1>
		<p>Games: </p>
			{% if games %}
			<ul>
			{% for game in games.all %}
			<li>
			<A HREF="http://localhost:8000/game/{{game.name}}">{{game.name}}</A>
			</li>
			{% endfor %}
			</ul>
			{% else %}
			<p>Doesn't exist games.</p>
			{% endif %}
		<p>With games developed by these companies: </p>
			{% if companies %}
			<ul>
			{% for company in companies %}
			<li>
			<A HREF="http://localhost:8000/company/{{company.name}}">{{company.name}}</A>
			</li>
			{% endfor %}
			</ul>
			{% else %}
			<p>Doesn't exist companies.</p>
			{% endif %}
	</body>
</html>
