<html>
		<head>
		<title>{{ platform.name }}</title>
		</head>
	<body>
		<h1>Platform: {{ platform.name }}</h1>
		<p>Games: </p>
			{% if games %}
			<ul>
			{% for game in games.all %}
			<li>
			<A HREF="/games/{{game.name}}">{{game.name}}</A>
			</li>
			{% endfor %}
			</ul>
			{% else %}
			<p>Doesn't exist games.</p>
			{% endif %}
		<p>Developers: </p>
			{% if developers %}
			<ul>
			{% for developer in developers %}
			<li>
			<A HREF="/users/{{developer.username}}">{{developer.username}}</A>
			</li>
			{% endfor %}
			</ul>
			{% else %}
			<p>Doesn't exist developers.</p>
			{% endif %}
		<p>Companies that work with it: </p>
			{% if companies %}
			<ul>
			{% for company in companies %}
			<li>
			<A HREF="/companies/{{company.name}}">{{company.name}}</A>
			</li>
			{% endfor %}
			</ul>
			{% else %}
			<p>Doesn't exist companies.</p>
			{% endif %}
	</body>
</html>
