<html>
		<head>
		<title>{{ username }}</title>
		</head>
	<body>
		<h1> Developer: {{ username }} </h1>
		<p>Games developed:</p>
		{% if games %}
		<ul>
		{% for game in games %}
		<li>
		<A HREF="http://localhost:8000/games/{{game.name}}">{{game.name}}</A>
		</li>
		{% endfor %}
		</ul>
		{% else %}
		<p>Hasn't developed games.</p>
		{% endif %}

		<p>Works for this/these company/ies:</p>
		{% if companies %}
		<ul>
		{% for company in companies %}
		<li>
		<A HREF="http://localhost:8000/companies/{{company.name}}">{{company.name}}</A>
		</li>
		{% endfor %}
		</ul>
		{% else %}
		<p>Has never worked in a company.</p>
		{% endif %}

		<p>Platforms in which develops:</p>
		{% if platforms %}
		<ul>
		{% for platform in platforms %}
		<li>
		<A HREF="http://localhost:8000/platforms/{{platform.name}}">{{platform.name}}</A>
		</li>
		{% endfor %}
		</ul>
		{% else %}
		<p>Has never developed in any platform.</p>
		{% endif %}
	</body>
</html>
